/* Styling for Forecast Component */

$border-radius: 1rem;

.forecast {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 4rem;

    [class*='col-'] {

        &:first-child {

            .card {
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }
        }

        &:last-child {

            .card {
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }
        }
    }

    @include mq($until: tablet) {
        display: block;

        .card {
            border-radius: $border-radius;
            margin-bottom: 2rem;
        }
    }

    @include mq($until: 400px) {

        [class*='col-'] {
            width: 100%;
            padding: 0;
        }
    }
}
