<!--
    Dummy forecast card template
    Ideally you would either import this template into your js file or you would
    stringify it and attach it to the top of your js file when building the scripts
-->

<% _.each( itemList, function( item ) { %>
    <div class="col-2 col-3-wide col-6-tab">
        <div class="card card--<%= common.Helpers.getCardModifier( item.weather[0].description ) %>">
            <div class="card__bg-icon">
                <svg class="icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg-output/icons.svg#<%= item.weather[0].icon %>"></use>
                </svg>
            </div>
            <p class="card__date"><%= common.Helpers.getFormattedDate( item.dt_txt, "dddd Do" ) %></p>
            <div class="card__info-wrapper">
                <div class="card__icon">
                    <svg class="icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg-output/icons.svg#<%= item.weather[0].icon %>"></use>
                    </svg>
                </div>
                <p class="card__text"><%= item.weather[0].description %></p>
                <p class="card__temp card__temp--celsius"><%= Math.round(item.main.temp) %><span>&#176;C</span></p>
                <p class="card__temp card__temp--fahrenheit"><%= common.Helpers.celsiusToFahrenheit(item.main.temp) %><span>&#176;F</span></p>
            </div>
        </div>
    </div>
<% }); %>
