.card {
    $this: &;
    position: relative;
    padding: 4rem 0 8rem;
    overflow: hidden;
    @include linear-gradient(to bottom, $default...); //default background colour

    &__bg-icon {
        position: absolute;
        bottom: -5rem;
        left: -3rem;

        .icon {
            width: 15rem;
            height: 15rem;
            fill: rgba($white, .2);
        }
    }

    &__date {
        text-align: center;
    }

    &__info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
    }

    &__date,
    &__info-wrapper {
        color: $white;
    }

    &__icon {

        .icon {
            fill: $white;
            width: 4rem;
            height: 4rem;
        }
    }

    &__text {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: .15rem;
        margin: 2rem 0 1.6rem;
        text-align: center;
    }

    &__temp {

        &--celsius {
            font-size: 5.6rem;
            @include bold-font;

            span {
                font-size: 3rem;
            }
        }

        &--fahrenheit {
            font-size: 1.4rem;
            text-decoration: uppercase;
        }
    }

    //TODO: replace with themify ( https://www.npmjs.com/package/sass-themify ) + map options
    &--clear-sky {

        @include linear-gradient(to bottom, $clear-sky...);
    }

    &--few-clouds,
    &--overcast-clouds {
        @include linear-gradient(to bottom, $few-clouds...);
    }

    &--scattered-clouds {
        @include linear-gradient(to bottom, $scattered-clouds...);
    }

    &--broken-clouds {
        @include linear-gradient(to bottom, $broken-clouds...);
    }

    &--shower-rain {
        @include linear-gradient(to bottom, $shower-rain...);
    }

    &--rain {
        @include linear-gradient(to bottom, $rain...);
    }

    &--light-rain,
    &--moderate-rain {
        @include linear-gradient(to bottom, $rain...);
    }

    &--thunderstorm {
        @include linear-gradient(to bottom, $thunderstorm...);
    }

    &--snow,
    &--light-snow {
        @include linear-gradient(to bottom, $snow...);    
    }

    &--mist {
        @include linear-gradient(to bottom, $thunderstorm...);
    }

    &--snow,
    &--light-snow,
    &--mist {

        #{$this} {

            &__date,
            &__info-wrapper {
                color: $gravel;
            }

            &__icon {

                .icon {
                    fill: $gravel;
                }
            }
        }
    }
}
