/* Global overrides and settings */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    @include copy-font;
}

h1,
h2 {
    @include bold-font;
    text-align: center;
    margin: 2rem 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

p,
span {
    font-size: 1.4rem;
}

p {
    margin: 0;
}
