/* Global overrides and settings */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    @include bold-font;
}

h1 {
    @include copy-font;
}

p,
span {
    font-size: 1.4rem;
}

p {
    margin: 0;
}
