/* Grid definitions - Page divided into 12 columns ( eg. Bootstrap ) */

/* Wrapper */
.wrapper {
    width: 100%;
    max-width: 136rem;
    margin: 0 auto;
    padding: 0 1rem;
    @include clearfix;
}

/* Columns */
[class*='col-'] {
    width: 100%;
    padding-left: .8rem;
    padding-right: .8rem;
    float: left;
}

$i: 1;

@while $i < 13 {

    .col-#{$i} {
        width: (100% / 12) * $i;
    }
    $i: $i + 1;
}
