/**
 * Mixin to use on bold fonts
 */
@mixin bold-font {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}

/**
 * Mixin to use on copys
 */
@mixin copy-font {
    font-family: 'Roboto', sans-serif;
}

/**
 * Creates an X stop linear-gradient, defaults to top to bottom gradient
 */
 @mixin linear-gradient( $direction, $colours...) {
     background-image: linear-gradient($direction, $colours);
 }

 /**
  * Prevents that an element with floated children collapses
  */
  @mixin clearfix {

      &::before {
          content: '';
          display: block;
      }

      &::after {
          content: '';
          display: table;
          clear: both;
      }
  }
